.heading-main {
  text-align: center;
}
.heading-container {
  display: flex;
  gap: 10px;
}
.heading {
  padding: 10px;
  font-size: large;
  font-weight: bold;
  border: 1px solid black;
  cursor: pointer;
}
.active-tab {
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  border: 1px solid black;
  height: 300px;
  padding: 10px;
}
.error {
  display: block;
  color: red;
}
